*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  /* Hidden per sicurezza in caso di errore nei figli, nascondo la barra di default*/
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

/* Misure temporanee, cambiale una volta che inserisci i contenuti */
body > *, .main-container > *{
  min-height: 100px;
  min-width: 100px;
  border: 1px solid red;
}

.main-container{
  flex-grow: 1;
  /* Deve scorrere solo la sezione coi contenuti e le card */
  overflow: auto;
  display: flex;
}

.main-content-container{
  flex-grow: 1;
  overflow: auto;
}

.crunchy-container{
  border: 1px dashed green;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.crunchy-menu{
  border: 1px dashed red;
}

.crunchy-menu ul{
  list-style: none;
  text-align: center;
}

.crunchy-menu ul li {
  display: inline-block;
  padding: 1rem .9rem;
  text-decoration: none;
  font-size: .6rem;
}

.recently-played{
  border: 1px solid yellow;
  padding: 1rem;
}

.row{
  display: flex;
  border: 1px dashed orange;
  gap: .5rem;
}

.col-1-6{
  width: calc(100% / 6);
  aspect-ratio: 1/1;
  border: 1px dashed blue;
}

.cover-img, .cover-img-rounded{
  width: 100%;
  aspect-ratio: 1/1;
  border: 1px dashed green;
}

.cover-img img{
  max-width: 100%;
  object-fit: contain;
}

.cover-img-rounded img{
  max-width: 100%;
  object-fit: contain;
  border-radius: 50%;
}

.title{
  text-align: center;
}

.upgrade-bar{
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  right: 0;
  border: 1px solid red;
}

.content-container{
  border: 1px solid blue;
}

.square{
  width: 250px;
  height: 30px;
  border: 1px dashed green;
  padding: .3rem 1rem;
  text-align: center;
}

.navbar{
  width: 200px;
  overflow: auto;
  /* Per evitare che il fratello si allarghi troppo, schiacciando la navbar 
    lo shrink è attivo di base.*/
  flex-shrink: 0;
}

.play-nav-container{
  height: 100px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
}

.preview, .volume-section{
  width: 200px;
  aspect-ratio: 1/1;
  border: 1px dashed green;
}

.play-section{
  border: 1px dashed rgb(130, 231, 130);
  width: 400px;
  aspect-ratio: 1/1;
}

/* *** BUTTONS *** */


/* Breakpoints per media query:
  layout (no media query) max px: 6 CARD IN LINEA + 2
  max-width: 1100px 4 CARD IN LINEA + 2, 
  max-width: 700px  2 CARD IN LINEA + 2, 
  max-width: 600px  2 CARD IN LINEA + 2, BARRA LATERALE STRETTA

  PER LE CARD, NON USARE WRAP MA FAI DIRETTAMENTE CALC /6, /4, /2 IN BASE
  ALLA RICHIESTA GRAFICA DELL'ESERCIZIO IN BASE AI PX DELLO SCHERMO
 */

@media screen and (max-width: 1100px){
  
}

@media screen and (max-width: 700px){
  
}

@media screen and (max-width: 600px){
  .navbar{
    width: calc(200px / 5);
  }
}

