:root{
  --bg-color-sidebar: #000000;
  --bg-color-upbar: #080b12;
  --bg-main-color: #141922;
  --footer-color: #282828;
  --font-color-primary: white;
  --font-color-secondary: #797C80;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  /* Hidden per sicurezza in caso di errore nei figli, nascondo la barra di default*/
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

/* Misure temporanee, cambiale una volta che inserisci i contenuti */
body > *, .main-container > *{
  min-height: 100px;
  min-width: 100px;
  border: 1px solid red;
}

.main-container{
  flex-grow: 1;
  /* Deve scorrere solo la sezione coi contenuti e le card */
  overflow: auto;
  display: flex;
}

.main-content-container{
  flex-grow: 1;
  overflow: auto;
  background-color: var(--bg-main-color);
}

/* *** MAIN CONTENT *** */

.recently-played h2, h5{
  color: var(--font-color-primary);
}

.recently-played h4, h6{
  color: var(--font-color-secondary)
}

.recently-played{
  border: 1px solid yellow;
  padding: 1rem;
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px dashed orange;
  gap: .5rem;
}

.col-1-6{
  max-width: calc(100% / 6);
  aspect-ratio: 1/1;
  border: 1px dashed blue;
}

.cover-img, .cover-img-rounded{
  width: 100%;
  aspect-ratio: 1/1;
  border: 1px dashed green;
}

.cover-img img{
  max-width: 100%;
  object-fit: contain;
}

.cover-img-rounded img{
  max-width: 100%;
  object-fit: contain;
  border-radius: 50%;
}

.title{
  text-align: center;
}

/* *** MAIN CONTENT - UPGRADE BAR *** */

.upgrade-bar{
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  right: 0;
  background-color: var(--bg-color-upbar);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.square{
  width: 250px;
  max-height: 3rem;
  border: 1px solid white;
  padding: .9rem .5rem;
  text-align: center;
  color: var(--font-color-primary);
  background-color: var(--bg-color-upbar);
  border-radius: 1.5rem;
  text-align: center;
  font-size: .8rem;
  font-weight: bold;
}

.square:hover{
  transform: scale(1.1);
}

/* *** MAIN CONTENT - CRUNCHY MENU/EVIDENCE MENU *** */

.crunchy-container{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-main-color);
}

.crunchy-menu{
  color: var(--font-color-secondary);
  display: flex;
  flex-direction: column;
}

.crunchy-menu ul{
  list-style: none;
  text-align: center;
}

.crunchy-menu ul li {
  display: inline-block;
  padding: 1rem .9rem;
  text-decoration: none;
  font-size: .8rem;
  font-weight: bold;
  position: relative;
}

.crunchy-menu ul li:hover{
  color: var(--font-color-primary);
}

.crunchy-menu ul li:hover::after{
  content: "";
  width: 45%;
  height: 3px;
  background-color: greenyellow;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(60%);
}

/* *** SIDEBAR *** */

.sidebar{
  width: 200px;
  overflow: auto;
  /* Per evitare che il fratello si allarghi troppo, schiacciando la navbar 
    lo shrink è attivo di base.*/
  flex-shrink: 0;
}

.sidebar-container, .sidebar-logo, .sidebar-links{
  border: 1px dashed blue;
}

.sidebar-container{
  max-width: 100%;
  height: 100%;
  background-color: var(--bg-color-sidebar);
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
}

.sidebar-logo{
  max-width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.sidebar-logo .logo-nav-l{
  height: 40px;
}

.sidebar-logo .logo-nav-s{
  height: 40px;
  display: none;
}

.sidebar-links{
  max-width: 100%;
  color: var(--font-color-secondary);
}

.sidebar-links ul{
  list-style: none;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.sidebar-links ul li a{
  display: inline-block;
  color: var(--font-color-secondary);
  padding-top: .5rem;
  padding-bottom: .5rem;
  text-decoration: none;
  position: relative;
}

.sidebar-links ul li i{
  font-size: 1.5rem;
  margin-right: .5rem;
}

.sidebar-links ul li a:hover{
  color: var(--font-color-primary);
}

.sidebar-links ul li a:before{
  content: "";
  height: 100%;
  width: 6px;
  background-color: greenyellow;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1rem;
  /* opacity: 0; */
}

/* .sidebar-links ul li a .active:before{
  opacity: 1;
} */

.playlist-container{
  border: 1px dashed blue;
  display: flex;
  flex-direction: column;
  overflow: auto;
  flex-grow: 1;
}

.playlist-upper{
  border: 1px dashed greenyellow;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.playlist-container span{
  color: var(--font-color-secondary);
}

.playlist-lower{
  border: 1px dashed greenyellow;
  overflow: auto;
  flex-grow: 1;
}

.playlist-name{
  padding: 1rem;
  color: var(--font-color-secondary);
}

.user-section{
  border: 1px dashed greenyellow;
  margin-top: auto;
}

.user-section ul li a{
  text-decoration: none;
}

#app-install span{
  font-size: 1.1rem;
}

#user-id span{
  color: var(--font-color-primary);
  font-size: 1.2rem;
  font-weight: bold;
}



/* *** PLAY-NAV *** */

.play-nav-container{
  width: 100%;
  height: 100px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--footer-color);
  color: var(--font-color-secondary);
}

.preview, .volume-section{
  width: 200px;
  aspect-ratio: 1/1;
  border: 1px dashed green;
}

.play-section{
  border: 1px dashed rgb(130, 231, 130);
  width: 40%;
  aspect-ratio: 1/1;
}

/* *** BUTTONS *** */


/* Breakpoints per media query:
  layout (no media query) max px: 6 CARD IN LINEA + 2
  max-width: 1100px 4 CARD IN LINEA + 2, 
  max-width: 700px  2 CARD IN LINEA + 2, 
  max-width: 600px  2 CARD IN LINEA + 2, BARRA LATERALE STRETTA

  PER LE CARD, NON USARE WRAP MA FAI DIRETTAMENTE CALC /6, /4, /2 IN BASE
  ALLA RICHIESTA GRAFICA DELL'ESERCIZIO IN BASE AI PX DELLO SCHERMO
 */

@media screen and (max-width: 1100px){
  
}

@media screen and (max-width: 700px){
  
}

@media screen and (max-width: 600px){
  .sidebar{
    width: calc(200px / 5);
  }

  .sidebar-logo .logo-nav-l{
    display: none;
  }
  
  .sidebar-logo .logo-nav-s{
    display: block;
    margin: auto;
  }

  .sidebar-links ul li a .link-text{
    display: none;
  }

  .sidebar-links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  .playlist-container{
    display: none;
  }
}
